<popup-page>
  <popup-header slot="header" pageTitle="{{ 'autofill' | i18n }}" showBackButton>
    <ng-container slot="end">
      <app-pop-out></app-pop-out>
    </ng-container>
  </popup-header>

  <div class="tw-bg-background-alt tw-p-2">
    <bit-section>
      <bit-section-header>
        <h2 bitTypography="h5">Autofill suggestions</h2>
      </bit-section-header>
      <bit-card>
        <div>
          <input type="checkbox" bitCheckbox />
          <label for="">Checkbox label 1</label>
        </div>
        <div>
          <input type="checkbox" bitCheckbox />
          <label for="">Checkbox label 2</label>
        </div>
        <div>
          <input type="checkbox" bitCheckbox />
          <label for="">Checkbox label 3</label>
        </div>
        <div>
          <input type="checkbox" bitCheckbox />
          <label for="">Checkbox label 4</label>
        </div>
      </bit-card>
    </bit-section>
    <bit-section>
      <bit-section-header>
        <h2 bitTypography="h5">Autofill Shortcut</h2>
      </bit-section-header>
      <bit-card>
        <h3 bitTypography="h5">Change shortcut</h3>
      </bit-card>
    </bit-section>
  </div>
</popup-page>
